/* Apply the Poppins font family to the entire page */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh; /* Full viewport height */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6500;
    color: white;
    padding: 15px 20px;
    position: fixed; /* Make the navbar stay at the top */
    top: 0; /* Align it to the top */
    left: 0; /* Full width */
    width: 100%; /* Take up the full width */
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar .web-name {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .nav-items {
    list-style: none;
    margin: 0;
    padding-right: 40px;
    display: flex;
}

.navbar .nav-items li {
    margin-left: 20px;
}

.navbar .nav-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar .nav-items a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 60px); /* Full height minus navbar */
    text-align: center;
    padding: 20px;
    overflow: hidden;
    margin-top: 60px; /* Add top margin to prevent content from being hidden under the navbar */
}

.content-container h1 {
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7); /* White shadow */
}

.content-container p {
    font-size: 18px;
    line-height: 1.6;
}

/* Button group */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Prevents underlining */
}

.get-started {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.learn-more {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* Footer styles */
.footer {
    background-color: #FF6500;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 80px; /* Ensures footer stays at the bottom */
}

